<footer class="footer">
  <div class="footer__icon">
    <a href="#header">
    <img class="footer__image--icon" src="./assets/images/ico-arrow.svg" alt="ir al principio" title="ir a cabecera"></a>
  </div>
  <nav class="footer__menu--items">
    <ul class="footer__menu--list">
      <li><a title="home Adalab" href="https://adalab.es/" target="blank">articles</a> </li>
      <li><a title="home Adalab" href="https://adalab.es/" target="blank">books</a> </li>
      <li><a title="home Adalab" href="https://adalab.es/" target="blank">events</a> </li>
      <li><a title="home Adalab" href="https://adalab.es/" target="blank">reasons</a> </li>
      <li><a title="home Adalab" href="https://adalab.es/" target="blank">tips</a> </li>
    </ul>

  </nav>
  <nav class="footer__menu--social">
    <ul class="footer__menu--list">
      <li><a title="home Adalab" href="https://adalab.es/" target="blank">twitter</a> </li>
      <li><a title="home Adalab" href="https://adalab.es/" target="blank">instagram</a> </li>
      <li><a title="home Adalab" href="https://adalab.es/" target="blank">mastodont.social </a> </li>
    </ul>

  </nav>
  <small class="footer__copy">&copy;2021</small>
  <small class="footer__text">we <i class="fas fa-heart"></i> components</small>

</footer>
