<main class="main">
  <section class="section__first">
    <small class="section__first--smalltext">insomnia tips</small> 
    <h2 class="section__first--title">looking through a window</h2>
    <p class="section__first--text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
    <div class="section__first--button">go</div>

  </section>

  <section class="section__second">
    <h2 class="section__second--titleppal">3 reasons to purchase</h2>
    <div class="section__second--block1">
    <h3 class="section__second-- title title1">ut sed metus</h3>
    <p class="section__second--text text1"> lorem ipsum dolor sit amet, consecteur.</p>
  </div>
  <div class="section__second--block2">
    <h3 class="section__second-- title title2">curabitur ac erat</h3>
    <p class="section__second--text text2"> mauris mattis urna quis lorem molestie.</p>
  </div>
  <div class="section__second--block2">
    <h3 class="section__second-- title title3">morbi dictum</h3>
    <p class="section__second--text text3">
      aliquam in dolor et dolor tincidunt.</p>
    </div>
    <div class="section__second--button">more reasons</div>
  </section>
</main>
