<main class="main">
  <section class="section__first">
    <small class="section__first--smalltext">insomnia tips</small> 
    <h2 class="section__first--title">looking through a window</h2>
    <p class="section__first--text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
    <div class="section__first--button">go</div>
  </section>

  <section id="sectionsecond" class="section__second">
    <h2 class="section__second--title">3 reasons to purchase</h2>
    <h3 class="section__second--title1">Ut sed metus</h3>
    <p class="section__second--text1"> Lorem ipsum dolor sit amet, consecteur.</p>
    <h3 class="section__second--title2">Curabitur ac erat</h3>
    <p class="section__second--text2"> Mauris mattis urna quis lorem molestie.</p>
    <h3 class="section__second--title3">Morbi dictum</h3>
    <p class="section__second--text3">
      Aliquam in dolor et dolor tincidunt.</p>
    
    <div class="section__second--button">more reasons</div>
  </section>
</main>
