// fonts
$fontTitle: "RobotoSlab-Bold";
$fontText: "Roboto-Regular";
$fontBotton: "Roboto-Medium";

// colors
$colorBottonHam: #0271bc;
$colorTextWhite: #ffffff;
$colorIconsOrange: #f26002;
$colorTextSmall: #8ccbea;
$colorTextBlack: #000000;
$colorTextGrey: #4a4a4a;
$colorPathsection: #eff9ff;
$colorPathfooter: #304268;
