.section__first {
  height: 376px;
  width: 100vw;
  background-color: $colorTextWhite;
  padding: 15px;
}
.section__first--smalltext {
  font-family: $fontText;
  color: $colorTextSmall;
  font-size: 14px;
  text-transform: capitalize;
  padding: 15px;
}
.section__first--title {
  height: 60px;
  font-family: $fontTitle;
  color: $colorTextBlack;
  font-size: 24px;
  text-transform: capitalize;
  padding: 15px;
}
.section__first--text {
  height: 120px;
  font-family: $fontText;
  color: $colorTextGrey;
  font-size: 18px;
  text-align: justify;
  padding: 15px;
}
.section__first--button {
  height: 45px;
  width: 76px;
  border: 2px solid $colorIconsOrange;
  color: $colorIconsOrange;
  border-radius: 22.5px;
  font-family: $fontBotton;
  font-weight: 500;
  font-size: 20px;
  line-height: 2.25;
  text-transform: capitalize;
  text-align: center;
  margin-left: 15px;
}
.section__second {
  width: 100vw;
  height: 624px;
  background-color: $colorPathsection;
  display: grid;
  grid-template-columns: 21% 58% 21%;
  grid-template-rows: repeat(8, fr);
}
.section__second--title {
  text-align: center;
  font-family: $fontTitle;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-transform: capitalize;
  padding-top: 30px;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.section__second--title1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
}
.section__second--text1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  transform: translate(0, 25px);
}
.section__second--title2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: center;
  transform: translate(0, 5px);
}
.section__second--text2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: center;
  transform: translate(0, 30px);
}
.section__second--title3 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  text-align: center;
  transform: translate(0, 25px);
}
.section__second--text3 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  text-align: center;
  transform: translate(0, 50px);
}

.section__second--button {
  width: 184px;
  height: 45px;
  background-color: $colorIconsOrange;
  color: $colorTextWhite;
  font-family: $fontBotton;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  text-transform: capitalize;
  border-radius: 22.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  text-align: center;
}
