.section__first {
  height: 376px;
  width: 100vw;
  background-color: $colorTextWhite;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.section__first--smalltext {
  font-family: $fontText;
  color: $colorTextSmall;
  font-size: 14px;
  text-transform: capitalize;
}
.section__first--title {
  height: 60px;
  font-family: $fontTitle;
  color: $colorTextBlack;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-transform: capitalize;
}
.section__first--text {
  height: 120px;
  font-family: $fontText;
  color: $colorTextGrey;
  font-size: 18px;
  line-height: 1.67;
}
.section__first--button {
  height: 45px;
  width: 76px;
  border: 2px solid $colorIconsOrange;
  color: $colorIconsOrange;
  border-radius: 22.5px;
  font-family: $fontBotton;
  font-weight: 500;
  font-size: 20px;
  line-height: 2.25;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color ease 1s, color ease 1s;
  &:hover {
    background-color: $colorBottonHam;
    color: $colorTextWhite;
  }
}
.section__second {
  width: 100vw;
  height: 624px;
  background-color: $colorPathsection;
  display: grid;
  grid-template-columns: 21% 58% 21%;
  grid-template-rows: repeat(8, fr);
}
.section__second--title {
  text-align: center;
  font-family: $fontTitle;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-transform: capitalize;
  padding-top: 30px;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.section__second--title1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  font-family: $fontText;
  font-size: 18px;
  font-weight: bold;
}
.section__second--text1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  font-family: $fontText;
  font-size: 18px;
  transform: translate(0, 25px);
}
.section__second--title2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: center;
  font-family: $fontText;
  font-size: 18px;
  font-weight: bold;
  transform: translate(0, 5px);
}
.section__second--text2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: center;
  font-family: $fontText;
  font-size: 18px;
  transform: translate(0, 30px);
}
.section__second--title3 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  text-align: center;
  font-family: $fontText;
  font-size: 18px;
  font-weight: bold;
  transform: translate(0, 25px);
}
.section__second--text3 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  text-align: center;
  font-family: $fontText;
  font-size: 18px;
  transform: translate(0, 50px);
}

.section__second--button {
  width: 184px;
  height: 45px;
  background-color: $colorIconsOrange;
  color: $colorTextWhite;
  font-family: $fontBotton;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  text-transform: capitalize;
  border-radius: 22.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  text-align: center;
  transition: background-color ease 1s, border-color ease 1s;
  &:hover {
    background-color: $colorPathfooter;
    border-color: $colorTextBlack;
  }
}
@media all and (min-width: 768px) {
  .section__first {
    height: 330px;
    padding: 30px;
  }
  .section__first--title {
    font-size: 26px;
    height: 45px;
  }
  .section__first--text {
    font-size: 20px;
    height: 60px;
  }
  .section__first--button {
    width: 91px;
  }
  .section__second {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat (3, fr);
    height: 397px;
    padding: 35px;
  }
  .section__second--title {
    font-size: 26px;
  }
  .section__second--title1 {
    font-size: 24px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transform: translate(0, 5px);
  }
  .section__second--text1 {
    font-size: 20px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transform: translate(0, 30px);
  }
  .section__second--title2 {
    font-size: 24px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .section__second--text2 {
    font-size: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .section__second--title3 {
    font-size: 24px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    transform: translate(0, 5px);
  }
  .section__second--text3 {
    font-size: 20px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    transform: translate(20px, 30px);
    text-align: left;
  }
  .section__second--button {
    width: 210px;
    grid-row: 3 / 4;
    transform: translate(10px, 30px);
  }
}
@media all and (min-width: 1200px) {
  .section__first {
    height: 360px;
    padding-left: 275px;
    padding-right: 275px;
  }
  .section__first--smalltext {
    font-size: 16px;
  }
  .section__first--title {
    font-size: 32px;
  }
  .section__first--button {
    width: 160px;
    height: 45px;
  }
  .section__second {
    height: 427px;
    padding: 60px 82px 60px 82px;
  }
  .section__second--title {
    font-size: 32px;
  }
  .section__second--button {
    width: 255px;
    transform: none;
    transform: translate(65px, 50px);
  }
}
